ion-content {--background: url("../../../assets/imgs/ba1492733b18345db4545b1b57d81673.jpg");}
  
  .card-cosas {
    height: 98vh; /* La grid ocupará toda la altura de la pantalla */
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
  }
  
  .half-screen {
    height: 45vh; /* Cada fila ocupa el 50% de la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Elimina cualquier padding adicional */
  }
  
  .full-card {
    width: 100%; /* El card ocupa el 100% del ancho de la fila */
    height: 100%; /* El card ocupa el 100% de la altura de la fila */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .imagenes {
    width: 100%;
    height: 100%; /* La imagen ocupa toda la altura disponible */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
  }
  
  ion-card-title {
    text-align: center;
    // padding: 10px;
    font-size: 1.2rem;
    color: white;
  }
  
  .a {margin-bottom: 2rem;}

  .h-a {background-color: rgb(0, 140, 255); font-family: "Josefin Sans", sans-serif;}
  .h-b {background-color: rgb(107, 165, 0); font-family: "Josefin Sans", sans-serif;}

  /* Estilos para el spinner de carga en Home */
.contenedor-spinner-home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8); // Fondo oscuro para evitar el flash negro
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;

    ion-spinner {
        width: 100px;
        height: 100px;
    }

    .img-spinner { 
        position: absolute;
        width: 150px; 
        height: 150px; 
        // Animación suave de pulso opcional
        animation: pulse 2s infinite;
    }
}

//mover el ion fab button a la derecha superior
.fab-volver {
    right: 20px;
    top: 20px;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}