<ion-content [fullscreen]="true" class="body">
  <div *ngIf="cargandoCierre" class="contenedor-spinner-home">
    <ion-spinner name="circular" color="light"></ion-spinner>
    <img class="img-spinner" src="../../../assets/imgs/icono-Totissenger.png">
  </div>

  <ion-card class="card-cosas" *ngIf="!cargandoCierre">
    <ion-grid id="main-grid">
      <ion-row class="row-main-grid half-screen a">
        <ion-card (click)="this.router.navigateByUrl('chat-a')" class="full-card">
          <img src="../../../assets/imgs/aula-a.jpg" class="imagenes"> 
          <ion-card-header class="h-a">
            <ion-card-title>IR AL FORO DE MENSAJES DE PPS-4A</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-row>

      <ion-row class="row-main-grid half-screen">
        <ion-card (click)="this.router.navigateByUrl('chat-b')" class="full-card">
          <img src="../../../assets/imgs/aula-b.jpg" class="imagenes"> 
          <ion-card-header class="h-b">
            <ion-card-title>IR AL FORO DE MENSAJES DE PPS-4B</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-fab class="fab-volver" vertical="top" horizontal="center" slot="fixed" 
           (click)="cerrarSesionPersonalizado()" *ngIf="!cargandoCierre">
    <ion-fab-button color="danger">
      <ion-icon name="log-out-outline"></ion-icon>  
    </ion-fab-button>
  </ion-fab>
</ion-content>