ion-content,
ion-item {
  --background: none;
}

ion-item {
  --min-height: 64px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  margin-bottom: 12px;
}

ion-toolbar {
  --background: rgb(255, 145, 0);
}

ion-input {
  font-family: 'Quicksand', sans-serif;
  --highlight-color-valid: rgb(255, 145, 0);
}

#primer-login {
  height: 100%;
  background-color: rgb(41, 41, 41);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logos {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

#card-inicio-sesion {
  width: 90%;
  max-width: 360px;
}

#btn-iniciar-sesion {
  margin-top: 1rem;
  --background: rgb(255, 145, 0);
  --background-hover: rgb(204, 116, 0);
  --color: black;
}

ion-label {
  font-size: 14px;
  transform-origin: left top;
}

#card-mostrar-mensajes {
  width: 90%;
  max-width: 360px;
}

/* FAB */
ion-fab {
  margin-bottom: 1rem;
}

ion-fab-button img {
  width: 28px;
  height: 28px;
}