<ion-content [fullscreen]="false">
  <div id="tercer-login" class="ion-text-center">

    <div class="login-logo">
      <img src="../../../assets/imgs/icon-only.png" alt="CatoVisuals logo">
      <h1 class="app-title">CatoVisuals</h1>
      <p class="app-subtitle">Capturá lo lindo y lo feo</p>
    </div>

    <form class="login-form">
      <h2 id="header">
        Inicio de sesión
      </h2>

      <ion-item>
        <ion-input type="email" label="Correo electrónico" labelPlacement="floating" fill="none" placeholder="Ingrese su correo..." [(ngModel)]="correo" name="correo" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" label="Contraseña" labelPlacement="floating" fill="none" placeholder="Ingrese su Contraseña..." [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" id="iniciar-sesion" (click)="this.IniciarSesion()">Iniciar sesión</ion-button>
    </form>

    <form class="login-form" *ngIf="this.mensajeAMostrar" id="form-mostrar-mensajes">
      <ion-card-header id="mensaje-mostrado" [ngClass]="{'mensaje-error': mensajeError == true, 'mensaje-exito': mensajeError == false}" class="headers">{{mensajeAMostrar}}</ion-card-header>
    </form>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="dark">
        <ion-icon name="people-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-list side="top">
        <ion-fab-button color="primary" (click)="loginRapido(1)">
          <ion-icon name="shield-checkmark-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="secondary" (click)="loginRapido(2)">
          <ion-icon name="person-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="tertiary" (click)="loginRapido(3)">
          <ion-icon name="happy-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="warning" (click)="loginRapido(4)">
          <ion-icon name="help-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-button color="success" (click)="loginRapido(5)">
          <ion-icon name="bug-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
